
<div id="nav">
  <h3> {{ 'Project List' | translate }} </h3>
  <a href="/" >DashBoard</a><br/>
  <a href="/project" >Project</a><br/>
  <a href="/issue" >Issue</a><br/>
</div>
<div class="content-wrapper">
  <ngx-datatable
  class="bootstrap"
  [rows]="rows"
  [columns]="cols"
  [columnMode]="'force'"
  [headerHeight]="50"
  [footerHeight]="50"
  [rowHeight]="'auto'"
  [externalPaging]="true"
  [count]="page.totalElements"
  [offset]="page.page"
  [limit]="page.size"
  (page)='setPage($event)'>
</ngx-datatable>
<button type="button" class="btn btn-primary" (click)="openModal(template)">Create Template Modal</button>
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Project Detail Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    this is a modal.
  </div>
</ng-template>
</div>